@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

a {
    color: #348ceb;
}
a:hover {
    color: #71aef1
}

table {
    display: "inline-block"; 
    margin-bottom: "8px"
}

.button {
    padding-bottom: 10px;
}

.block {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px; 
    width: 50px;
    margin: 4px;
    transition: background-color 0.4s;
}
.tile:hover {
    cursor: pointer;
}

.tile-hidden {
    background-color: #348ceb;
    color: #348ceb;
}
.tile-show {
    background-color: white;
    color: black;
}
.tile-match {
    background-color: #84d95d;
    color: black;
}

button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
button:hover,
button:focus {
    background-color: #F082AC;
}
